$font-family: "Montserrat", sans-serif;
$primary-color: #007bff;
$secondary-color: #6c757d;
$light-color: #f8f9fa;
$dark-color: #343a40;

// Estilos generales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $dark-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

// Estilos del encabezado
header {
  .navbar {
    background-color: $primary-color;
    color: $light-color;
    padding: 20px;

    .navbar-brand {
      color: $light-color;
      font-weight: bold;
      text-decoration: none;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $light-color;
          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }
}

// Estilos de la sección principal
.main-section {
  text-align: center;
  padding: 100px 0;

  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .image {
    img {
      width: 100%;
      max-width: 600px;
      margin-top: 30px;
      animation: zoom-in 1s ease-in-out;
    }
  }
}

// Estilos de la sección de enlaces
.links-section {
  background-color: $light-color;
  padding: 50px 0;

  .links {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    a {
      display: inline-block;
      margin: 0 10px;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.7;
      }

      img {
        width: 30px;
      }
    }
  }
}

// Estilos del pie de página
footer.footer {
  background-color: $primary-color;
  color: $light-color;
  padding: 20px;

  p {
    margin-bottom: 10px;
  }

  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .social-link {
      display: inline-block;
      margin: 0 10px;

      i {
        font-size: 24px;
        color: $light-color;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

// Animación
@keyframes zoom-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
