/* Estilos adicionales personalizados */

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: black;
}

.navbar-brand {
  font-weight: bold;
}

.btn-primary-sm {
  font-size: 0.8rem;
}

.header {
  position: relative;
  background-color: #f7f7f7;
  padding: 120px 0 80px; /* Aumenta el padding para separar más el navbar y la sección de contacto */
  text-align: center;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header-title {
  margin-top: 0;
  color: #333;
}

.contact-section {
  background-color: #f7f7f7;
  padding: 80px 0; /* Aumenta el padding para separar más el navbar y la sección de contacto */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 40px 0;
  margin-top: 80px;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.section-divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 40px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
