/* Estilos generales */
body {
  font-family: "Dosis", sans-serif;
  color: #000;
  padding-top: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  color: #007bff;
}

/* Estilos de encabezado */
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

.navbar {
  background-color: #007bff;
  justify-content: flex-end;
}

.navbar .nav-link {
  color: #fff;
}

.navbar-brand {
  font-weight: bold;
}

/* Estilos de acordeón */
.accordion-button {
  background-color: #007bff;
  color: #fff;
}

.accordion-button[aria-expanded="true"] {
  background-color: #0056b3;
}

.accordion-body {
  background-color: #f8f9fa;
  color: #333;
}

/* Estilos de pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.social-link {
  color: #fff;
  margin-right: 10px;
  text-decoration: underline;
}

/* Estilos adicionales personalizados */
body {
  padding-top: 80px;
}

.navbar-brand {
  font-weight: bold;
}

.btn-primary-sm {
  font-size: 0.8rem;
}

section#formulario {
  background-color: #f7f7f7;
}

section#opiniones {
  padding-top: 80px;
  padding-bottom: 80px;
}

.services {
  background-color: #f9f9f9;
  padding-top: 40px;
  padding-bottom: 40px;
}

.service {
  text-align: center;
  margin-bottom: 30px;
}

.service-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.service-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-description {
  color: #555;
  margin-bottom: 15px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}
