/* Estilos adicionales personalizados */

body {
  padding-top: 80px;
}

.navbar-brand {
  font-weight: bold;
}

.btn-primary-sm {
  font-size: 0.8rem;
}

section#formulario {
  background-color: #f7f7f7;
}

section#opiniones {
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}
